.cardStyle {
position: static;
background-color: #342741;
color: #FFFFFF;
border: solid 1px;
height: 300px;
width: 300px;
padding: 10px;
border-radius: 10px;
z-index: 0;
}

.userCardStyle {
  position: static;
  background-color: #342741;
  color: #FFFFFF;
  border: solid 1px;
  height: 200px;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  z-index: 0;
  }

.gridStyle {
  padding: 1%;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  display: flex;
  flex-wrap: wrap;
  grid-gap: 1%;
};